/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* stylelint-enable at-rule-no-unknown */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  direction: rtl; /* نثبت الاتجاه من هنا عشان ما يحوسنا */
}

/* حل مشكلة التداخل في الصور اللي أرسلتيها */
section {
  display: block;
  width: 100%;
  position: relative;
  clear: both;
}

@layer utilities {
  .animated-gradient {
    background-size: 400%;
    -webkit-animation: animation-gradient 6s ease infinite;
    -moz-animation: animation-gradient 6s ease infinite;
    animation: animation-gradient 6s ease infinite;
  }

  @keyframes animation-gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
